{{ define "EditPage"}} {{ template "GlobalHead" .}}

<body>
  {{ template "NavigationHeader" .}}
  <div x-data="{tasks:{{.Tasks}},count:0,toDelete:new Set()}">
    <r-grid column="8" x-init="count=tasks.length">
      <r-cell span="7...">
        <button x-on:click="count+=1; tasks.push({done:false})">Add</button>
      </r-cell>
    </r-grid>
    <form action="/edit" method="post">
      {{ .CSRFField }}
      <r-grid column="8">
        <template x-for="index in count">
          <r-cell span="row" x-data="{taskItem:tasks[index-1]}">
            <input
              type="text"
              hidden
              :value="taskItem ? taskItem.id : ''"
              name="id"
            />
            <input
              type="text"
              :value="taskItem ? taskItem.task : ''"
              class="w-100"
              name="task"
            />
            <label for="">
              <input
                type="checkbox"
                :value="taskItem.id"
                :checked="taskItem.done"
                name="done"
              />
              Done
            </label>
            <label for="">
              <input
                type="checkbox"
                :value="taskItem.id"
                name="delete"
              />
              Delete
            </label>
          </r-cell>
        </template>
      </r-grid>
      <button type="submit" class="primary">Save</button>
    </form>
  </div>
</body>

{{ end }}
