{{define "EditPage"}} {{template "GlobalHead" .}}

<body>
  {{template "NavigationHeader" .}}
  <div x-data="{tasks:{{.Tasks}},count:0}">
    <r-grid column="8" x-init="count=tasks.length">
      <r-cell span="7...">
        <button x-on:click="count+=1">Add</button>
      </r-cell>
    </r-grid>
    <form action="/edit" method="post">
      <r-grid column="8">
        <template x-for="index in count">
          <r-cell span="row" x-data="{taskItem:tasks[index-1]}">
            <input
              type="text"
              :value="taskItem?taskItem.task:''"
              class="w-100"
              name="task"
            />
            <label for="">
              <input
                type="checkbox"
                x-bind:value="taskItem?taskItem.done:null"
                name="done"
              />
              Done
            </label>
            <div class="flex">
              <div class="ml-auto">
                <button
                  type="button"
                  role="button"
                  x-on:click="tasks.splice(index-1,1); count-=1"
                >
                  Remove
                </button>
              </div>
            </div>
          </r-cell>
        </template>
      </r-grid>
      <button type="submit" class="primary">Save</button>
    </form>
  </div>
</body>

{{end}}
